.home {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    .home-link{
        color: #000;
        cursor: pointer;
        &:hover{
            color: red;
        }
    
    .svg-inline--fa.fa-house{
        color: #000;
        width: 20px;
        height: 20px;
        &:hover{
            cursor: pointer;
            color: red;
        }
    }
}   
}
