// .wrapper-fv{
//     width: 35%;
//     height: 100vh;
//     margin-left: 20px;
//     padding:0 50px 0;
//     border: 1px dotted gray;
//     position: relative;
//     overflow-y: scroll;     
// }
.header-favorite {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
    img {
    width: 30px;
    height: 30px;
    position: absolute; 
    left: 3%;
    top: 4%;
    overflow: hidden
}
}
