.option-block{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
.btn-delete {
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    background-color: rgb(224, 204, 169);
    cursor: pointer;
}
&:hover {
    box-shadow: inset;
}
.btn-delete svg {
    width: 12px;
    height: 12px;
}
}
// .svg-inline--fa {
//     margin-right: 14rem;
//     width: 20px;
//     height: 20px;
// }
// .svg-inline--fa:hover {
//     cursor: pointer;
//     box-shadow: orange;
// }
// .ng-fa-icon:hover {
//     color:red;
// }
// .svg-inline--fa.fa-circle-arrow-up{
//     margin: 10px;
// }
